@charset "utf-8";
/* CSS Document */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	font-family: 'Open Sans Light', sans-serif;
	font-weight: 300;
}

/*------------------------- BANNER -----------------------------*/
#banner1 {
	width:100%;
	height:583px;
	background:url(../images/banner.jpg) no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

header .bannertext1 {
	width:450px;
	height:143px;
	border: 5px #fff solid;
	position:relative;
	left:31.746031746%;
	top:18.353344768%;
}
header .bannertext1 p {
	position:relative;
	top:20px;
	left:17px;
	width:410px;
	height:102px;
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 48.66px;
	color:#fff;
	text-align:justify;
}
header .bannertext1 span {
	font-family: 'Open Sans Light', sans-serif;
}
header .bannertext2 {
	width:100%;
	height:107px;
	background:url(../images/bannertext2.png);
	position:relative;
	top:200px;
}
header .bannertext2 p {
	font-size:36px;
	line-height:40px;
	color:#fff;
	position:relative;
	left:15.793650793%;
	top:15px;
	font-weight:400;
}

/*----------------------- MENU BAR -----------------------------*/
#nav_wrap {
	z-index: 9;
	background: #fff;
	width: 100%;
	display: block;
	height: 105px;
}
#bar1 {
	width: 950px;
	height:77px;
	margin:0 auto;
}
#bar1 img {
	margin-top:22px;
}
nav {
	width:450px;
	height:77px;
	display:block;
	float:right;
	margin-top:26px;
}
nav ul {
	width:100%;
	display:block;
	height: 100%;
}
nav li {
	display:block;
	float:left;
	margin-right:18px;
}
#nav_wrap a {
	text-decoration:none;
	height: 32px;
}
nav div {
	font-size:20px;
	line-height:32.88px;
	color:#333333;
	text-shadow:0 0 1px #000;
	font-family: 'Open Sans Light', sans-serif;
}
header .line {
	float:left;
	width:100%;
	height:1px;
	border-bottom:solid 1px #e1e1e1;
	box-shadow: 0 1px 3px #f0f0f0;
	-moz-box-shadow: 0 1px 3px #f0f0f0;
	-webkit-box-shadow: 0 1px 3px #f0f0f0;
}
.activated {
	color: #0066cc;
}
.hover {
	color: #0066cc;
}
/*------------------------- SECTIONS' COMMON PARTS ------------------------*/
section {
	width: 950px;
	margin: 0 auto;
	display: block;
}
section:before,section:after {
	content:'';
	display: table;
}
section:after {
	clear: both;
}
.big_title {
	margin-top:40px;
	float:left;
	position: relative;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
}
.big_title p {
	font-size: 18px;
	position: absolute;
	width: 100%;
}
.big_title h1 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 36px;
	color:#0066cc;
	width: 23%;
	position: absolute;
	top: 40%;
	background: #fff;
	z-index: 2;
}
section .line {
	width: 100%;
	height: 1px;
	background:#888888;
	position: absolute;
	top: 65%;
	z-index: 1;
	
}
/*------------------- 理念 ----------------------*/
.concept {
	float: left;
	width: 562px;
	margin-top:40px;
}
.concept h2 {
	font-size:24px;
	font-weight:bolder;
}
.concept h3 {
	font-size:30px;
	font-weight:400;
	color:#0066cc;
	margin-top: 25px;
	margin-left: 90px;
}
.concept p {
	font-size: 14px;
	line-height: 22px;
	color: #262626;
	margin-top: 25px;
}

.photo {
	float: left;
	margin-top: 30px;
	margin-left: 75px;
}

/*------------------------ 大事にするもの ---------------------------*/
.priority {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.priority h2 {
	font-size: 36px;
	line-height: 47px;
	color: #262626;
	font-weight: 400;
	margin-left: 265px;
}
.priority ul {
	display: block;
	float: left;
	margin-top:40px;
	margin-bottom: 90px;
}
.priority li {
	width: 220px;
	height: 150px;
	display: block;
	float: left;
	background: #0066cc;
	border-radius: 2px;
	margin-right: 100px;
	position: relative;
	
}
.priority li:last-child {
	margin-right: 0;
}
.priority img {
	display: block;
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}
.arrow_down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #0066cc;
	position: absolute;
	top: 150px;
	left: 90px;
}
.priority h3 {
	font-size: 24px;
	line-height: 47px;
	font-weight: 400;
	position: absolute;
	top: 190px;
	left: 85px;
}
.priority p {
	display: block;
	float: left;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 22px;
}
/*----------------- BANNER 2 -------------------*/
#banner2 {
	width:100%;
	height:400px;
	background:url(../images/banner2.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	margin-top: 20px;
	margin-bottom: 30px;
	position: relative;
}
#banner2 p {
	color: #fff;
	font-size: 36px;
	display: block;
	width: 98%;
	height: 110px;
	position: absolute;
	top: 90px; right: 0; bottom: 0; left: 0;
	margin: auto;
	text-align: center;
	font-family: 'Open Sans Bold', sans-serif;
}

/*-------------------------- SERVICES -------------------------------*/
#services ul {
	display: block;
	float: left;
	margin-top: 45px;
	width: 100%;
}
#services li {
	display: block;
	float: left;
	position: relative;
	width: 298px;
	height: 317px;
	border: solid 1px #c2c2c1;
	margin-right: 19px;
}
#services li:last-child {
	margin-right: 0;
}
#services h2 {
	width: 70%;
	font-size: 24px;
	line-height: 47px;
	font-weight: 400;
	color: #262626;
	margin: 28px auto auto auto;
	text-shadow: 0 0 1px #aaaaaa;
	text-align: center;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#services .image_wrap {
	width: 140px;
	height: 139px;
	background: #0066cc;
	border-radius: 2px;
	margin: 15px auto;
	position: relative;
}
#services img {
	position: absolute;
	margin: auto;
	top: 0; right: 0; bottom: 0; left: 0;
}
#services li p {
	width: 90%;
	margin: 25px auto auto auto;
	font-size: 14px;
	line-height: 22px;
	color: #262626;
	text-shadow: 0 0 1px #d7d7d7;
}

/*-------------------- START CONVERSATION ----------------------*/
#conversation {
	width: 100%;
	height: 171px;
	background: url(../images/clear_gray.png) repeat-x;
	margin-top: 50px;
	position: relative;
}
#conversation p {
	font-size: 36px;
	line-height: 40px;
	color: #333333;
	text-align: center;
	margin-top: 36px;
}
#conversation .btn {
	width: 140px;
	height: 49px;
	line-height: 49px;
	display: block;
	margin: 22px auto 35px auto;
	background: #0066cc;
	font-size: 24px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	font-family: 'Open Sans Bold', sans-serif;
}

/*----------------------- BANNER 3 ------------------------*/
#banner3 {
	width:100%;
	height:400px;
	background:url(../images/banner3.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	margin-bottom: 30px;
	position: relative;
}
#banner3 p {
	color: #fff;
	font-size: 36px;
	line-height: 40px;
	display: block;
	width: 80%;
	height: 110px;
	position: absolute;
	top: 60px; right: 0; bottom: 0; left: 0;
	margin: auto;
	text-align: center;
	font-family: 'Open Sans Bold', sans-serif;
}

/*--------------------------- CONTACT -----------------------*/
#contact .title_wrap {
	width: 100%;
	height: 26px;
	position: relative;
	margin-top: 40px;
	float: left;
}
	
#contact .message {
	width: 245px;
	height: 26px;
	float: left;
	z-index: 2;
	background: #fff;
	font-size: 24px;
	color: #0066cc;
	line-height: 26px;
	position: absolute;
	font-family: 'Open Sans Light', sans-serif;
}
#contact .contact_info {
	width: 181px;
	height: 26px;
	float: left;
	z-index: 2;
	background: #fff;
	font-size: 24px;
	line-height: 26px;
	color: #0066cc;
	text-align: center;
	left: 625px;
	position: absolute;
	font-family: 'Open Sans Light', sans-serif;
}
#contact .small_line {
	width: 98%;
	height: 1px;
	background: #c1c1c1;
	z-index: 1; 
	position: absolute;
	top: 14px;
	left: 1%;
}
#contact form {
	width: 620px;
	height: 175px;
	display: block;
	float: left;
	margin-top: 30px;
	font-family: 'Open Sans Light', sans-serif;
}
#contact input[type="text"] {
	width: 288px;
	height: 28px;
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	box-shadow: inset 1px 2px 4px #e5e5e5;
	-moz-box-shadow: inset 1px 2px 4px #e5e5e5;
	-webkit-box-shadow: inset 1px 2px 4px #e5e5e5;
	margin-top: 7px;
	margin-bottom: 17px;
}
#contact form div {
	width: 290px;
	float: left;
	margin-right: 36px;
}
#contact form div:last-child {
	margin-right: 0;
}
#contact textarea {
	width: 288px;
	height: 93px;
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	box-shadow: inset 1px 2px 4px #e5e5e5;
	-moz-box-shadow: inset 1px 2px 4px #e5e5e5;
	-webkit-box-shadow: inset 1px 2px 4px #e5e5e5;
	margin-top: 7px;
	margin-right: 20px;
}
#contact input[type="submit"] {
	width: 90px;
	height: 29px;
	background: #575757;
	color: #fff;
	font-size: 14px;
	text-shadow: 0 1px #b8b8b8;
	border: none;
	border-radius: 4px;
	float: right;
	margin-top: 14px;
}

#contact address {
	width: 300px;
	height: 120px;
	display: block;
	float: left;
	margin-top: 30px;
	margin-left: 17px;
}
#contact address div {
	float: left;
	width: 100%;
	border-bottom: dotted 1px #cccccc;
	padding-bottom: 6px;
	margin-bottom: 8px;
}
#contact address div:last-child {
	border: none;
}
#contact address img {
	float: left;
	margin-right: 10px;
}
#contact address div:nth-child(2) img {
	margin-top: 4px;
}
#contact address p {
	font-size: 14px;
	line-height: 22px;
	color: #262626;
	float: left;
	width: 90%;
}

/*------------------------------ MAP -----------------------------------*/
#map_canvas {
        width: 100%;
        height: 400px;
		margin: 50px auto;
		float: left;
      }
#map_canvas img {
	float: left;
	margin-right: 10px;
}
#map_canvas .map_div:nth-child(2) img {
	margin-top: 4px;
}
#map_canvas p {
	font-size: 14px;
	line-height: 22px;
	color: #262626;
	float: left;
	width: 90%;
}
.map_div {
	width: 100%;
	float: left;
}

/*------------------------- FOOTER -----------------------------*/
footer {
	width: 100%;
	height: 80px;
	background: #262626;
	position: relative;
	float: left;
	top: 20px;
}
small {
	width: 950px;
	position: absolute;
	margin: 20px auto auto auto;
	left: 0;
	right: 0;
	color: #3e3e3e;
	font-family: 'Open Sans Light', sans-serif;
}


/*-------------------------- FONTS --------------------------*/
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../font/OpenSansBold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(../font/OpenSansLight.woff) format('woff');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url(../font/AmaticSCRegular.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Droid%20Sans.woff) format('woff');
}