@charset "utf-8";
/* CSS Document */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	font-family: 'Open Sans Light', sans-serif;
	font-weight: 300;
}
section {
	width: 98%;
	margin: auto 1%;
	position: relative;
	float: left;
}
/*----------------------------- HEADER + NAVIGATION ----------------------------*/
header {
	width: 100%;
	position: fixed;
	height: 100px;
	z-index: 3;
	background: #fff;
	float: left;
}
header .logo {
	position: absolute;
	height: 40px;
	left: 2%;
	top:0;bottom:0;
	margin: auto;
	float: left;
}
nav {
	width: 100%;
	height: 100px;
	position: relative;
}
nav ul {
	width: 100%;
	display: none;
	position: absolute;
	top:100px;
	height: 81px;
	background: #fff;
	z-index: 3;
}
nav li {
	width: 100%;
	text-align: center;
	height: 40px;
	border-bottom: solid 1px #666666;
	text-align: center;
}
nav div {
	font-size: 24px;
	font-family: 'Open Sans Bold';
}
nav a {
	text-decoration: none;
	color: #0066cc;
	line-height: 40px;
}
nav a#pull {
	display: block;
	position: absolute;
	height:43px;
	margin-top: auto;
	margin-bottom: auto;
	top:0;bottom:0;
	right: 2%;
}
header .line {
	width: 150%;
	margin-left: -20%;
	height: 1px;
	background: #cccccc;
	box-shadow: 		0 1px 3px #e2e2e2;
	-moz-box-shadow: 	0 1px 3px #e2e2e2;
	-webkit-box-shadow: 0 1px 3px #e2e2e2;
}

/*-------------------------------- ABOUT US -------------------------------*/
#about_us {
	margin-top: 100px;
}
.big_title {
	margin-top:40px;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	text-align: center;
}
.big_title p {
	margin-top: 10px;
	font-size: 18px;
	width: 100%;
}
.big_title h1 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 36px;
	color:#0066cc;
	width: 100%;
}

.content1 {
	width: 100%;
	margin-bottom: 30px;
	margin-top: 20px;
}
.content1 h1 {
	width: 96%;
	text-align: center;
	font-family: 'Open Sans Bold';
	font-size: 28px;
	color: #242424;
	margin-bottom: 30px;
}
.content1 p {
	width: 100%;
	text-align: justify;
	font-family: 'Droid Sans';
	font-size: 18px;
	margin-bottom: 30px;
}
.content1 img {
	width: 100%;
}

.content2 h1 {
	width: 96%;
	font-family: 'Open Sans Bold';
	font-size: 28px;
	color: #242424;
	margin-bottom: 30px;
}
.content2 h2 {
	font-family: 'Open Sans Light';
	font-size: 22px;
	color: #232323;
}
#about_us ul {
	width: 60%;
	margin: 0 auto;
}
#about_us ul li {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
#about_us ul img {
	width: 100%;
	margin: 20px auto;
}
#about_us ul h3 {
	font-family: 'Open Sans Bold';
	font-size: 26px;
	color: #242424;
	margin-top: 20px;
}
#about_us ul p {
	font-family: 'Droid Sans';
	font-size: 16px;
	margin-top: 15px;
}

/*----------------------------- BANNER ----------------------------*/
#banner {
	width: 100%;
	margin: 30px auto 0 auto;
}
#banner img {
	width: 100%;
}

/*-------------------------------- SERVICES ------------------------------*/
#services {
	width: 100%;
	margin: auto;
	background: #f5f5f5;
}
#services ul {
	width: 98%;
	margin: 0 auto;
}
#services li {
	width: 100%;
	background: #fff;
	text-align: center;
	float: left;
	margin: 15px auto;
}
#services li:last-child {
	margin-bottom: 30px;
}
#services li h3 {
	width: 100%;
	text-align: center;
	font-family: 'Open Sans Bold';
	color: #242424;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#services li img {
	width: 60%;
	margin: 20px auto;
}
#services li p {
	font-family: 'Droid Sans';
	font-size: 18px;
	margin: 0 auto 20px auto;
	width: 70%;
}
	
/*----------------------------- FONTS -----------------------------*/
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../font/OpenSansBold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(../font/OpenSansLight.woff) format('woff');
}
@font-face {
  @font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Droid%20Sans.woff) format('woff');
}